# Python
__pycache__/
*.pyc


# SNAP outputs
*.dim
*.data/
*.img
*.hdr

# Raster outputs
*.tif
*.tiff

# SAFE archives
*.SAFE/
*.zip

# QGIS temp
*.qgs~
*.qgz~

# Output folders
output/

# VS Code
.vscode/